<html>
  <head>
        <meta charset="utf-8" />
        <meta name="viewport"
                    content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>BMI INDEX</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </head>
<style>
        /* google fonts start*/
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Saira&display=swap');
/* google fonts end*/

body{
  background:#222;
}
.form-control{
  border-radius:0px;
  border:0px;
}
.font-primary{
  font-family: 'Kaushan Script', cursive;
}
.font-secondary{
  font-family: 'Saira', sans-serif;
}
.form-area{
  border:1px solid #fff;
}
</style>
  <body>
    <section id="contact-form">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
<!--             project title area start -->
            <div class="title-area text-light">
              <h1 class="font-primary">Welocme TO BMI-INDEX</h1>
              <h2 class="font-secondary">Here You Can Check Your BMI by Feet-Inches</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
            <div class="form-area mt-5 p-lg-4 p-3">
                <div class="row">
                  <div class="col-sm-12 text-center text-info mb-3 font-secondary">
                    <h3>BMI INDEX</h3>
                  </div>
                </div>
        <form action="/submit_feet" method='post'>
                <dl class="row">
                  <dt class="col-sm-4 text-info font-secondary">Enter Weight:-</dt>
                  <dd class="col-sm-8"><input type="number" name="weight" class="form-control" placeholder="Enter Weight in Kg"></dd>

                  <dt class="col-sm-4 text-info font-secondary">Height(Feet):-</dt>
                  <dd class="col-sm-8">
                    <input type="text" name="heightf" class="form-control text" placeholder="Enter Just Height(feet)">
                  </dd>
                  
                  <dt class="col-sm-4 text-info font-secondary">Height(Inch):-</dt>
                  <dd class="col-sm-8">
                     <input type="text" name="heighti" class="form-control text" placeholder="Enter Just Height(Inch)">
                  </dd>
                </dl>
                <div class="row">
                  <div class="col-sm-12">
                    <input type="submit" class="form-control bg-info text-light font-secondary" value="Submit" >
                  </div>
                </div>
        </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </body>
</html>